* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  scroll-behavior: smooth;
  margin: 1vw 2vw;
  padding: 0;
  color: var(--color-texto);
  background-color: var(--color-fondo);
}

header {
  display: flex;
}

header img{
  max-height: 40vh;
}

a {
  color: var(--color-texto);
  text-decoration: none;
  list-style: none;
}

.productos div{
  width: 15%;
}
a img:hover {
  background-color: var(--footer-bg);
  border-radius: 50%;
}

a:visited {
  text-decoration: none;
  list-style: none;
}

nav {
  display: flex;
  justify-content: flex-end;
}

details {
  display: inline;
}

iframe{
  width:320px;
  height:190px;
  border-radius:10px;
  box-shadow:2px 4px 4px rgb(0 0 0 / 25%);
  display:flex;
  justify-content:flex-end;
  border:1px solid #bcbcbc;
  zoom: 00.5rem;
}

.descripcion img{
  width: 30%;
  height: auto;
}

.dolar {
  position: fixed;
  top: 20%;
  left: 25%;
  bottom: 10px;
  z-index: 5;
  
}
#imgdolar{
  text-align: right;
  margin-right: 0;
  margin-left: auto;
  width: 8vw;
  border-radius: 50%;
}

.cierre{
  position:absolute ;
  right: 2px;
  top:2px;
  border-radius: 50%;
  font-weight: bolder;
}

.articulos{
  margin-top: 10vh;
  margin-left: 10%;
}

h4{
  margin: 0 auto;
  background-color: var(--footer-bg);
  width: auto;
  border-radius: 5%;
}

article{
  padding-top: 25vh;
}

nav a {
  padding: 0 10px;
  /* transition: all 1s ease; */
}

nav:hover a {
  opacity: 40%;
}

.none{
  display: none;
}

nav a:hover {
  font-weight: bold;
  opacity: 1;
}

h1 {
  font-size: 4rem;
}

.dark {
  background-color: var(--color-texto);
  color: var(--color-fondo);
}

.list {
  list-style: none;
}

.sticky{
  text-align: center;
  position: sticky;
  top: 0px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--color-fondo);
}

.productos {
  position: sticky;
  top: 17px;
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--color-fondo);
}
.productos div {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 18%;
}

.productos div img{
  width: 100%;
}

.articulos{
  margin-top: 10px;
}

.light {
  transition: all 0.5s linear;
}

.dark {
  transition: all 0.5s linear;
  color: var(--color-fondo);
  background-color: var(--color-texto);
}

.dark-mode {
  position: fixed;
  z-index: 99;
  bottom: 5px;
  right: 1vh;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1vh;
  border-radius: 50%;
  background-color: var(--color-texto);
  border: 4px solid lightgrey;
  transition: all 0.2s linear;
  cursor: pointer;
}

.dark-mode:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--color-fondo);
  border-color: rgb(114, 114, 114);
}

/* Formulario */
.form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44836;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-left: 10%;
  align-items: left;
}

.form * {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.form input {
  width: 50%;
}

.form textarea {
  width: 50%;
  /* evita que se pueda manipular el text area con el mouse */
  resize: none;
  /* border: solid black 1px; */
}

.form legend,
.form-response {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
}

.form input,
.form textarea {
  font-size: 1rem;
}

.form input[type="submit"] {
  font-weight: bold;
  cursor: pointer;
  /* margin-left: 3%; */
  border: inset darkgray 5px;
}

/* formato de contenido valido o invalido */
.form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.form-error {
  margin-top: 0;
  font-size: 80%;
  background-color: var(--form-error-color);
  width: 50%;
  color: #fff;
  transition: all 800ms ease;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

.carrusel {
  margin: 10vh 0;
  width: 90vw;
  height: 60vh;
  text-align: center;
  overflow: hidden;
}

.slider{
  position: relative;
}

.carrusel-foto {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  /* height: 100%;  */
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.foto-activa {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}

footer {
  display: flex;
  background-color: var(--footer-bg);
}

.pie p {
  width: 70%;
}
section{
  text-align: center;
}
